#preco1{
    position: absolute;
    left: 0;
    background-color:antiquewhite;
}

#preco2{
    position: absolute;
    left: 0;
    background-color:antiquewhite;
}

#preco3{
    position: absolute;
    left: 0;
    background-color:antiquewhite;
}
